<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>about</title>
</head>
<style>
    h1{
        text-shadow:2px 2px red;
    }
</style>
<body>
<center>
 
<br><br>
<h1>ABOUT</h1>
<hr>
<h3>Developed by</h3>
<p>Anand</p>
<p>Mohamed Muzzamil</p>
<p>Selvaraj</p>
<p><b>Guide : Dr.K.Vidya.,Assistant Professor</b></p>
<br>
<p>© copyrights at Department of IST, Anna University, Chennai-600 025.</p>
<br>

  
</center>
</body>
</html>